@app.route('/agregar_menu', methods=['GET', 'POST'])
def agregar_menu():
    conn = get_db_connection()
    cursor = conn.cursor()

    cursor.execute('SELECT id, nombre FROM productos')
    productos = cursor.fetchall()

    if request.method == 'POST':
        producto_id = request.form['producto_id']
        fecha = request.form['fecha']

        cursor.execute('''
            INSERT INTO menu_del_dia (producto_id, fecha) 
            VALUES (%s, %s)
        ''', (producto_id, fecha))

        conn.commit()
        cursor.close()
        conn.close()
        return redirect('/panel')

    cursor.close()
    conn.close()
    return render_template('agregar_menu.html', productos=productos)
